.contact {
    margin: 2em 0;
}

.contact .wrapper {
    display: flex;
    gap: 2em;
}
.contact .wrapper > * {
    flex: 1 1 50%;
}

.contact form {
    display: flex;
    flex-direction: column;
}
.contact form input, .contact form textarea {
    margin: .2em 0 1em 0;
}

.contact form textarea {
    resize: vertical;
}

.maps, .maps iframe {
    max-height: 80vh;
}

@media screen and (max-width: 768px) {
    .contact .wrapper {
        flex-direction: column;
    }
}