header, .hero {
    background-color: var(--clr-secondary);
}

.hero {
    padding: 2em 0;
}
.hero > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3em;
}
.hero > .container > div {
    flex: 1;
}
.hero .content,
.hero .content p {
    margin-bottom: 2em;
}

.hero .partners {
    background-color: var(--clr-background);
}

.hero .partners .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 0;
}

@media screen and (max-width: 1220px) and (min-width: 1080px) {
    .hero h1 {
        font-size: 2.8rem;
    }
    .hero .btn {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1080px) {
    .hero > .container > div {
        flex: 1 1 100%;
    }
    .hero .content {
        margin-top: 5vh;
        padding: 0 8vw;
        text-align: center;
        z-index: 2;
    }
    .hero .image {
        margin-top: -20%;
    }
    .hero .image img {
        width: 50%;
    }

    .hero .partners .container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 3em;
    }
    .hero .partners .container > img {
        scroll-snap-align: start;
    }
}
@media screen and (max-width: 440px) {
    .hero .image {
        margin-top: -10%;
    }
    .hero .image img {
        width: 100%;
    }
}