.portfolio {
    margin: 2em 0;
}
.portfolio .wrapper {
    column-count: 2;
    column-gap: 2em;
    /* gekozen om hier geen flex/grid te gebruiken vanwege handigheid met verschillende hoogstes */
}
.portfolio .card {
    display: inline-block;
    break-inside: avoid;
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
}
.portfolio .card h3 {
    margin: 1em 0 .5em 0;
}
.portfolio .card .btn {
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .portfolio .wrapper {
        column-count: 1;
    }
}